<h1><%= @user.first_name %></h1>
<h2><%= link_to @user.gardens.count, user_gardens_path(@user) %> Gardens</h2>
<h2><%= link_to @user.plants.count, user_plants_path(@user) %> Plants</h2>



<%= link_to "Log Out", '/logout', method: :delete %>
<%= link_to "Add Plant", new_user_plant_path(@user) %>
<%= link_to "Add Garden", new_user_garden_path(@user) %>