<!DOCTYPE html>
<html>
  <head>
    <title>GardenPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <%= link_to "home", '/' %>
  <%= link_to "plants", plants_path %>
  <%= link_to "gardens", gardens_path %>
  <% if session[:user_id] %>
    <%= link_to "my greenhouse", user_path(User.find(session[:user_id])) %>
  <% end %>
  <%= link_to "about", '/' %>

  </nav>
  <% flash.each do |type, msg| %>
  <%= msg %>
  <% end %>
  <%= yield %>
  </body>



</html>
