<!DOCTYPE html>
<html>
  <head>
    <title>GardenPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <%= link_to "home", '/' %>
  <%= link_to "plants", plants_path %>
  <%= link_to "gardens", '/' %>
  <%= link_to "my greenhouse", '/' %>
  <%= link_to "about", '/' %>

  </nav>
  <% flash.each do |type, msg| %>
  <%= msg %>
  <% end %>
  <%= yield %>
  </body>

  <footer>
  <% if session[:user_id] %>
    
    <%= User.find_by(id: session[:user_id]).email %>
    <%= link_to "Log Out", '/logout', method: :delete %>
    <% end %>
  
  </footer>

</html>
